header {
  width: 100%;
  height: 100vh;
  transition: 0.2s;
  animation: changing 40s infinite;
  background-image: url("../../../public/assets/header-imgONE.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  padding: 43px 0px 142px 0px;
}

@keyframes changing {
  0% {
    background-image: url(../../../public/assets/header-imgONE.svg);
  }

  24% {
    background-image: url(../../../public/assets/header-imgONE.svg);
  }

  25% {
    background-image: url(../../../public/assets/header-imgTWO.svg);
  }

  45% {
    background-image: url(../../../public/assets/header-imgTWO.svg);
  }

  50% {
    background-image: url(../../../public/assets/header-imgTHREE.svg);
  }

  70% {
    background-image: url(../../../public/assets/header-imgTHREE.svg);
  }

  75% {
    background-image: url(../../../public/assets/header-imgFOUR.svg);
  }

  95% {
    background-image: url(../../../public/assets/header-imgFOUR.svg);
  }

  100% {
    background-image: url(../../../public/assets/header-imgONE.svg);
  }
}

.baslet-items_circle {
  width: 16px;
  height: 16px;

  margin-left: 4px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #30496F;


  color: #EFEFEF;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  animation: basketItems 0.2s linear;
}

@keyframes basketItems {
  0% {
    width: 0px;
    height: 0px;
    font-size: 0px;
  }

  100% {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}

header .header_top {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 50px;
}

header .header_top h1 {
  color: #f7f8f9;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

header .header_top p {
  color: #f7f8f9;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

nav {
  width: 100%;
  height: 12.5%;

  background: #efefef;
  box-shadow: 0px 10px 12px 0px rgba(44, 48, 53, 0.49);

  margin-top: 50px;
  padding: 5px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a img {
  height: 80px;
}

nav .nav-right {
  display: flex;
  align-items: center;
  gap: 46px;
}

nav .nav-right ul {
  display: flex;
  gap: 37px;
}

#currentPage a {
  color: #30496f;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav .nav-right li a {
  color: #2c3035;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

nav .nav-right .search-bar {
  border-bottom: 1px solid #2c3035;
}

nav .nav-right .search-bar input {
  border: none;
  background-color: #efefef;
}

nav .nav-right .search-bar input::placeholder {
  color: #afbcd1;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mobile-menu {
  display: none;
  animation: mobile-open 0.4s;
}

@keyframes mobile-open {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 180deg;
  }
}

.header_title {
  margin: 130px 0 70px 100px;
}

.header_title h1 {
  color: #f7f8f9;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header_title h2 {
  color: #f7f8f9;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header_end {
  width: 100%;
  padding: 0 52px 0 101px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_end .current-slide {
  width: 168px;
  height: 98px;
  background-image: url("../../../public/assets/currentSlideOne.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  animation: currentpage 40s infinite;
}

@keyframes currentpage {
  0% {
    background-image: url(../../../public/assets/currentSlideOne.svg);
  }

  24% {
    background-image: url(../../../public/assets/currentSlideOne.svg);
  }

  25% {
    background-image: url(../../../public/assets/currentSlideTwo.svg);
  }

  45% {
    background-image: url(../../../public/assets/currentSlideTwo.svg);
  }

  50% {
    background-image: url(../../../public/assets/currentSlideThree.svg);
  }

  70% {
    background-image: url(../../../public/assets/currentSlideThree.svg);
  }

  75% {
    background-image: url(../../../public/assets/currentSlideFour.svg);
  }

  95% {
    background-image: url(../../../public/assets/currentSlideFour.svg);
  }

  100% {
    background-image: url(../../../public/assets/currentSlideOne.svg);
  }
}

@media (max-width: 600px) {
  header {
    height: 219px;
    background-size: cover;
    padding: 9px 0px 35px 0px;
  }

  header .header_top {
    padding: 0px 20px;
  }

  header .header_top h1 {
    font-size: 14px;
  }

  header .header_top p {
    font-size: 8px;
  }

  nav {
    height: auto;
    margin-top: 9px;
    padding: 7px 20px;
  }

  nav a img {
    height: 22px;
  }

  nav .nav-right {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu_open {
    width: 100%;
    height: 336px;
    background-color: #2c3035;

    animation: mobileNav-open 0.2s;

    padding: 43px 0px 142px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    position: relative;
    z-index: 4;
  }

  .mobile-menu_open ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #currentPage a {
    color: #afbcd1;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .mobile-menu_open li a {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  @keyframes mobileNav-open {
    0% {
      height: 0px;
    }

    100% {
      height: 336px;
    }
  }

  .mobile-menu_open .search-bar {
    border-bottom: 1px solid #efefef;
  }

  .mobile-menu_open .search-bar input {
    border: none;
    background-color: #2c3035;
  }

  .header_title {
    margin: 20px;
  }

  .header_title h1 {
    font-size: 30px;
  }

  .header_title h2 {
    font-size: 15px;
  }

  .header_end {
    padding: 0px 20px;
  }

  .header_end button {
    width: 80px;
    height: 24.5px;
    padding: 6px 16px;
    font-size: 8px;
  }

  .header_end .current-slide {
    width: 50px;
    height: 28px;
  }
}